<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RaspiCam</title>
    </head>
<body>
    <h1>Streaming Check</h1>
    <div id="main">
    <div>
{#         do not put this in a <form>, because it will force a refresh#}
        <button onclick="handleButton('start')">Start</button>
        <button onclick="handleButton('stop')">Stop</button>
        Status: <span id="showStatus">{{ initial_status }}</span>
    </div>
    <br>
    <img src="{{ url_for('video_feed') }}">
    <br><br>
    </div>
</body>
<script>
    const statusContainer = document.getElementById('showStatus');
    const eventSource = new EventSource("/status")
    eventSource.onmessage = function (e) {
        statusContainer.innerHTML = e.data
        if (e.data === 'foo'){
            document.getElementById('main').innerHTML = "cjans ajsnc"
        }
    };

    /**
     * Pass an button action to the server.
     * @param action the action to perform.
     */
    function handleButton(action) {
        const request = new XMLHttpRequest();
        request.open('POST', `/buttons`);
        request.send(action);
    }
</script>
</html>

